'context-menu':
  'atom-workspace': [
    label: 'Find All Words' 
    command: 'find-all-words:open'
  ]
  
menu: [
    label: 'Packages'
    submenu: [
      label: 'Find All Words'
      command: 'find-all-words:open'
    ]
]
